@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;290;300;400;500;600;700;800;900&&display=swap');

html,body {
  font-family: 'Noto Sans KR', sans-serif;
}

.ant-btn {
  border: 1px solid @black;
  height: 44px;
  font-weight: bold;
}

.ant-btn-primary {
  color: @white;
  border: none;
  background: @primary-gradient;

  &:hover {
    color: @white;
    border: none;
    background: @primary-gradient;
  }

  &:focus {
    color: @white;
    border: none;
    background: @primary-gradient;
  }
}

.text-bold {
  font-weight: bold;
}

.ant-tabs-tab.ant-tabs-tab-active {
  //color: #828282;
}

.ant-tabs-tab-btn {
  color: #828282;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #191C1F;
  font-weight: bold;
}

.mr-5 {
  margin-right: 5px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.ant-notification-notice-with-icon .ant-notification-notice-message {
    font-size: 16px;
    font-weight: bold;
}

.ant-layout-footer {
  border-top: dashed 1px #dddddd;
  background-color: #ffffff;
}

.search_dropdown.ant-select-dropdown {
  position: fixed;
  top: 70px !important;
  .ant-select-item-group {
    margin-left: 8px;
  }
}

.ant-select-item-option-content {
  min-height: 20px;
}

h1 {
  font-size: 36px;
}
