@import 'variables';

.ant-btn-primary {
    color: #fff;
    border: none;
    background: @primary-gradient;
    height: 40px;

    &:hover {
        color: @white;
        border: none;
        background: @primary-gradient;
    }

    &:focus {
        color: @white;
        border: none;
        background: @primary-gradient;
    }
}

.ant-btn {
    font-weight: bold;
}

.ant-input,
.ant-form-item,
.ant-select {
    color: #000;
}

.ant-input {
    border-radius: 12px !important;
}

.ant-input::placeholder {
    color: rgb(184, 181, 181) !important;
}
