.light {
    @import '~antd/lib/style/themes/default.less';
    @import '~antd/dist/antd.less';
    @import 'variables';
    @import 'global';

    @layout-header-background: @white;
    @layout-sider-background-light: @white;

    .content {
        background: @white;
    }

    .paper {
        background: @white !important;
    }

    .base-text-color {
        color: #000;
      }
}
