.dark {
  @import '~antd/dist/antd.dark.less';
  @import '~antd/dist/antd.less';
  @import 'variables';
  @import 'global';

  @menu-inline-submenu-bg: lighten(@primary-color, 26%);
  @layout-header-background: #191C1F;
  @layout-body-background: #191C1F;
  @select-background: @layout-header-background;
  @border: #9b9999;
  @paper: #191C1F;

  // Layer background
  @popover-background: @paper;
  @body-background: @black;
  @component-background: @paper;


  .content {
    background: @layout-body-background;
  }

  .paper {
    background: @paper !important;
  }

  .border-left {
    border-left: 1px solid @border;
  }

  .base-text-color {
    color: @white
  }

  .ant-picker-input > input[disabled] {
    color: rgba(0, 0, 0, 0.25);
  }

  .ant-picker-input > input {
    color: #000;
  }

  .ant-input-number {
    color: #000 !important;
  }

  .ant-menu-vertical {
    border-right: 1px solid #fff;
  }

  .ant-modal-content {
    background: @paper;
  }

  .ant-modal-header {
    background: @paper;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff;
  }

  .ant-checkbox-inner {
    border: 1px solid #d9d9d9
  }

}