@import '~antd/dist/antd.less';

@primary-color: #9757EF;
@primary-gradient: linear-gradient(159.78deg, #9C52EF 34.62%, #37A0FF 100.32%);

@border-radius-base: 12px;
@font-size-base: 16px;

// LAYOUT
@layout-header-background: #fff;
@layout-header-height: 70px;

// INPUT
@input-bg: #F8F8F8;